<form action="" clrForm clrLayout="horizontal" clrLabelSize="4">
    <div class="clr-row">
        <div class="clr-col">
            <clr-select-container>
                <label>Event</label>
                <select clrSelect name="options" >
                  <option value="one">One</option>
                  <option value="two">Two</option>
                  <option value="three">Three</option>
                </select>
              </clr-select-container>
        </div>
        <div class="clr-col">
            <clr-date-container>
                <label>Current Date</label>
                <input type="date" clrDate name="demo" >
            </clr-date-container>
        </div>
        <div class="clr-col">
            <cds-time>
                <label>Current Time</label>
                <input type="time" />
                <cds-control-message>message text</cds-control-message>
              </cds-time>

        </div>
        <div class="clr-col">
            <clr-textarea-container>
                <label for="shipmentNo">Notes</label>
                <textarea clrTextarea name="shipmentNo" placeholder="Noates"></textarea>
            </clr-textarea-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col">
            <clr-textarea-container>
                <label for="shipmentNo">Connote</label>
                <textarea clrTextarea name="shipmentNo" placeholder="Noates"></textarea>
            </clr-textarea-container>
        </div>
        <div class="clr-col">
            <clr-select-container>
                <label>Event Location</label>
                <select clrSelect name="options" >
                  <option value="one">One</option>
                  <option value="two">Two</option>
                  <option value="three">Three</option>
                </select>
              </clr-select-container>
        </div>
        <div class="clr-col">
            <clr-input-container>
                <label>Manual Event Location</label>
                <input type="text" clrInput name="cTime" >
            </clr-input-container>
        </div>
        <div class="clr-col">
            <clr-input-container>
                <label>Driver Name</label>
                <input type="text" clrInput name="cTime" >
            </clr-input-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col">
            <clr-input-container>
                <label>Updated By</label>
                <input type="text" clrInput name="cTime" >
            </clr-input-container>
        </div>
        <div class="clr-col">

        </div>
        
    </div>
    <div class="clr-row">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
