<form clrForm clrLayout="vertical" clrLabelSize="4" [formGroup]="manifestForm">
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>SKU or Product ID</label>
                <input clrInput name="sku" />
            </clr-input-container>
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Quantity</label>
                <input clrInput name="qty" />
            </clr-input-container>
                            
        </div>
    </div>
    
    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary" (click)="createManifest()">Create Manifest</button>
        </div>
    </div>
</form>
