<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Last Mile Delivery Services
            <h5 class="hint">Use your Company ID to sign in</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Corporate name</label>
                <input type="text" name="corporatename" clrInput placeholder="Corporate name" formControlName="corporatename" />
                <clr-control-error>Corporate name (Organization name) is required!</clr-control-error>
            </clr-input-container>

            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" formControlName="username" />
                <clr-control-error>Username is required!</clr-control-error>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
                <clr-control-error>Password is required!</clr-control-error>
            </clr-password-container>
            
            <button [clrLoading]="validateBtnState" type="submit" class="btn btn-primary">Login</button>
            <button [clrLoading]="validateBtnState" (click)="onPasswordReset()" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>

<app-password-reset ngIf="isPasswordReset == true"></app-password-reset>