<form clrForm clrLayout="horizontal" clrLabelSize="4">
    
    <div class="clr-row">
        <div class="clr-col">
            <div class="clr-row">
                <div class="clr-col">
                    <clr-input-container>
                        <label>Choose bulk upload excel file</label>
                    </clr-input-container>
                    <input type="file" name="tt">
                    <clr-input-container>
                        <label>Bulk Shipment Template</label>
                    </clr-input-container>
                    <button class="btn btn-sm">Download</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary">Create Bulk Shipment</button>
        </div>
    </div>
</form>
