<form clrForm clrLayout="horizontal" clrLabelSize="4">
    <div class="clr-row">
        <div class="clr-col">
            <clr-input-container>
                <label for="shipmentNo">AWB OR Alternate Reference No</label>
                <input type="text" clrInput name="shipmentNo" placeholder="AWB or Alternate Reference Number">
            </clr-input-container>

        </div>
        <div class="clr-col">
            <clr-input-container>
                <label for="altRefNo">Sender Reference No</label>
                <input type="text" clrInput name="altRefNo">
            </clr-input-container>

        </div>
        <div class="clr-col">

        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="clr-row">
    <div class="clr-col">
        <clr-input-container>
            <label for=""><b>Connote#:</b></label>
        </clr-input-container>
        <div class="clr-col">
            <span>value1</span>
        </div>
    </div>
    
</div>
