
<form [formGroup]="emailForm" clrForm clrLayout="vertical" clrLabelSize="2">
    <div class="clr-row">
        <!--element 1-->
        <div class="clr-col-2">
            <clr-input-container>
                <label for="accountCode">To:</label>
                <input clrInput name="to" formControlName="to">
            </clr-input-container>
        </div>
        <!--element 2-->
        <div class="clr-col-2">
            <clr-input-container>
                <label for="cc">Cc:</label>
                <input clrInput name="cc" formControlName="cc">
            </clr-input-container>
        </div>
        <!--element 3-->
        <div class="clr-col-2">
            <clr-input-container>
                <label for="bcc">Bcc:</label>
                <input clrInput name="bcc" formControlName="bcc">
            </clr-input-container>
        </div>
        <div class="clr-col-2">
            <clr-textarea-container>
                <label for="emailbody">Address</label>
                <textarea clrTextarea name="emailbody" formControlName="emailbody"></textarea>
            </clr-textarea-container>
        </div>
    </div>
    
    
    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary" (click)="sendEmail()">Send Email</button>
        </div>
    </div>
</form>
